{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Salón{% endblock %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block content %}
{{parent()}}

<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
          <div class="row">
            <div class="span4">
              <div class="inner-heading">
                <h2>Salón</h2>
              </div>
            </div>
            <div class="span8">
              <ul class="breadcrumb">
                <li><a href="{{ path('index') }}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                <li><a href="{{ path('salon_index') }}">Listado salones</a><i class="icon-angle-right"></i></li>
                <li class="active">Salón</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    <section id="content">
        <div class="container">
          <div class="row">
            <div class="span4">
              <article>
                <div class="top-wrapper">
                  <div class="post-heading">
                    <h3><a href="#">Fotografía</a></h3>
                  </div>
                  <!-- start flexslider -->
                  <div class="flexslider">
                    <ul class="slides">
                      <li class="" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">                        
                        <img src={% if salon.foto|length >0 %}"{{ asset ('img/'~salon.foto) }}"{% else %} "{{ asset ('img/dummies/blog/65x65/thumb1.jpg') }}"{% endif %} alt="{{ salon.nombresalon }}" draggable="false">                        
                      </li>
                      <li class="" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">                        
                        <img src={% if salon.foto|length >0 %}"{{ asset ('img/'~salon.foto) }}"{% else %} "{{ asset ('img/dummies/blog/65x65/thumb1.jpg') }}"{% endif %} alt="{{ salon.nombresalon }}" draggable="false">                        
                      </li>
                      <li class="" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">                        
                        <img src={% if salon.foto|length >0 %}"{{ asset ('img/'~salon.foto) }}"{% else %} "{{ asset ('img/dummies/blog/65x65/thumb1.jpg') }}"{% endif %} alt="{{ salon.nombresalon }}" draggable="false">                        
                      </li>
                    </ul>
                  <ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">1</a></li><li><a href="#" class="flex-active">2</a></li><li><a href="#">3</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li><li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li></ul></div>
                  <!-- end flexslider -->
                </div>
                <p>
                  Informacion de nuestro salón.
                </p>
              </article>
            </div>
            <div class="span8">
              <aside class="right-sidebar">
                <div class="widget">
                  <h5 class="widgetheading">Información del salón 
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-warning btn-mini btn-rounded" href="{{ path('salon_edit', {'idsalon': salon.idsalon}) }}">Editar</a>
                    {% endif %}
                  </h5>
                  <ul class="folio-detail">
                    <li><label>Id :</label> {{ salon.idsalon }}</li>
                    <li><label>Nombre salón :</label> {{ salon.nombresalon }}</li>
                    <li><label>Aforo :</label> {{ salon.capacidad }}</li>
                    <li><label>Nombre fotografía :</label> {{ salon.foto }}</li>
                    <li><label>Precio :</label> {{ salon.precio }}</li>
                  </ul>
                </div>
                <div class="widget">
                  <h5 class="widgetheading"></h5>
                  <p>
                    <a class='btn btn-blue' href="{{ path('salon_index') }}">Regresar</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    {{ include('salon/_delete_form.html.twig') }}
                    {% endif %}
                  </p>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </section>

</div>
    
{% endblock %}
{% block javascripts %}
    {{parent()}}     
{% endblock %}
