{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{% endblock %}{#Herencia de la plantilla base utilizando parent#}
{% block stylesheets %}
  {{parent()}}
{% endblock %}
{% block content %}
{{parent()}}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div id="wrapper">
    <!-- toggle top area -->
    <div class="hidden-top">
      <div class="hidden-top-inner container">
        <div class="row">
          <div class="span12">
            <ul>
              <li><strong>Estamos especializados para cualquier tipo de evento</strong></li>
              <li>Direccion: Avenida 5-65</li>
              <li>LLamanos <i class="icon-phone"></i> (+34) 676-7778-90 </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end toggle top area -->
    
    <section id="featured">
      <!-- start slider -->
      <!-- Slider -->
      <div id="nivo-slider">
        <div class="nivo-slider">
          <!-- Slide #1 image -->
          <img src="{{ asset("img/slides/nivo/vs1.jpg")}}" alt="slide1" title="#caption-1" />
          <!-- Slide #2 image -->
          <img src="{{ asset("img/slides/nivo/vs2.jpg")}}" alt="" title="#caption-2" />
          <!-- Slide #3 image -->
          <img src="{{ asset("img/slides/nivo/vs3.jpg")}}" alt="" title="#caption-3" />
        </div>
        <div class="container">
          <div class="row">
            <div class="span12">
              <!-- Slide #1 caption -->
              <div class="nivo-caption" id="caption-1">
                <div>
                  <h2>Salones <strong>unicos</strong></h2>
                  <p>
                    Estilos unicos para cada evento.
                  </p>
                  <a href="{{ path("salon_index") }}" class="btn btn-theme">Ver más</a>
                </div>
              </div>
              <!-- Slide #2 caption -->
              <div class="nivo-caption" id="caption-2">
                <div>
                  <h2>Adecuados <strong>especialmente para ti</strong></h2>
                  <p>
                    El detalle especial que necesitas.
                  </p>
                  <a href="{{ path("salon_index") }}" class="btn btn-theme">Ver más</a>
                </div>
              </div>
              <!-- Slide #3 caption -->
              <div class="nivo-caption" id="caption-3">
                <div>
                  <h2>Recuerdos <strong>inolvidable</strong></h2>
                  <p>
                    Para compartir con toda la familia!.
                  </p>
                  <a href="{{ path("salon_index") }}" class="btn btn-theme">Ver más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end slider -->
    </section>
    <section class="callaction">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="big-cta">
              <div class="cta-text">
                <h3>Hemos realizados eventos <span class="highlight"><strong>fantasticos</strong></span> este año!</h3>
              </div>
              <div class="cta floatright">
                <a class="btn btn-large btn-theme btn-rounded" href="{{ path("buscar") }}">Pedir presupuesto</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span4">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-briefcase icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6>Nuestros salones</h6>
                    <p>
                      Puedes ver la calidad y confort que ofrecemos en de nuestros salones
                    </p>
                    <a href="{{ path("salon_index") }}">Ir</a>
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-desktop icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6>Eventos</h6>
                    <p>
                      Nuestro compromiso es crear el evento especial y único para ti
                    </p>
                    <a href="{{ path("evento_index") }}">Ir</a>
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-beaker icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6>Menus</h6>
                    <p>
                      Contamos con chefs profesionales que queras repetir!
                    </p>
                    <a href="{{ path("menu_index") }}">Ir</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
        <!-- Portfolio Projects -->
        <div class="row">
          <div class="span12">
            <h4 class="heading">Eventos <strong>recientes</strong></h4>
            <div class="row">
              <section id="projects">
                <ul id="thumbs" class="portfolio">
        <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Conferencia" href="{{ asset("img/works/full/image-01-full.jpg")}}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="{{ asset("img/works/thumbs/image-01.jpg")}}" alt="Imagen del evento">
                  </li>
          <!-- End Item Project -->
          <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design" data-id="id-1" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Reunión familiar" href="{{ asset("img/works/full/image-02-full.jpg")}}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="{{ asset("img/works/thumbs/image-02.jpg")}}" alt="Imagen del evento">
                  </li>
        <!-- End Item Project -->
        <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Cumpleaños" href="{{ asset("img/works/full/image-03-full.jpg")}}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="{{ asset("img/works/thumbs/image-03.jpg")}}" alt="Imagen del evento">
                  </li>
          <!-- End Item Project -->
          <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Reunión" href="{{ asset("img/works/full/image-04-full.jpg")}}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="{{ asset("img/works/thumbs/image-04.jpg")}}" alt="Imagen del evento">
                  </li>
          <!-- End Item Project -->
          <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-4" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Boda" href="{{ asset("img/works/full/image-05-full.jpg")}}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="{{ asset("img/works/thumbs/image-05.jpg")}}" alt="Imagen del evento">
                  </li>
          <!-- End Item Project -->
          <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-5" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Conferencia" href="{{ asset("img/works/full/image-06-full.jpg")}}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="{{ asset("img/works/thumbs/image-06.jpg")}}" alt="Imagen del evento">
                  </li>
            <!-- End Item Project -->
            <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Graduación" href="{{ asset("img/works/full/image-07-full.jpg")}}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="{{ asset("img/works/thumbs/image-07.jpg")}}" alt="Imagen del evento">
                  </li>
            <!-- End Item Project -->
            <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Taller" href="{{ asset("img/works/full/image-08-full.jpg")}}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="{{ asset("img/works/thumbs/image-08.jpg")}}" alt="Imagen del evento">
                  </li>
            <!-- End Item Project -->
                </ul>
              </section>
            </div>
          </div>
        </div>
        <!-- End Portfolio Projects -->
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
        <div class="row">
          <div class="span12">
            <h4>Nuestro <strong>colaboradores</strong></h4>
            <ul id="mycarousel" class="jcarousel-skin-tango recent-jcarousel clients">
              <li>
                <a href="#">
					<img src="{{ asset("img/dummies/clients/client1.png")}}" class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src="{{ asset("img/dummies/clients/client2.png")}}" class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src="{{ asset("img/dummies/clients/client3.png")}}" class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src="{{ asset("img/dummies/clients/client4.png")}}" class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src="{{ asset("img/dummies/clients/client5.png")}}" class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src="{{ asset("img/dummies/clients/client6.png")}}" class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src="{{ asset("img/dummies/clients/client1.png")}}" class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src="{{ asset("img/dummies/clients/client2.png")}}" class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src="{{ asset("img/dummies/clients/client3.png")}}" class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src="{{ asset("img/dummies/clients/client4.png")}}" class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src="{{ asset("img/dummies/clients/client5.png")}}" class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src="{{ asset("img/dummies/clients/client6.png")}}" class="client-logo" alt="" />
					</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="bottom">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="aligncenter">
              <div id="twitter-wrapper">
                <div id="twitter">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </div>
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
  
{% endblock %}
{% block javascripts %}
  {{parent()}}
{% endblock %}