{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Evento(e){% endblock %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block content %}
{{parent()}}
<section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="inner-heading">
            <h2>Editar evento</h2>
          </div>
        </div>
        <div class="span8">
          <ul class="breadcrumb">            
            <li><a href="{{ path('index') }}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
            <li><a href="{{ path('evento_index') }}">Listado eventos</a><i class="icon-angle-right"></i></li>
            <li><a href="{{ path('evento_show', {'idevento': evento.idevento}) }}">Detalle evento</a><i class="icon-angle-right"></i></li>
            <li class="active">Editar</li>
          </ul>
        </div>
      </div>
    </div>
</section>
<section id="content">    
    <div class="container">
        <div class="row">
          <div class="span12">
            <h4><strong>Actualizar datos</strong></h4>
          </div>
        </div>  

    {{ include('evento/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <div class="row">
        <div class="span12">        
          <div class="span12 margintop10 form-group">
            <div class="validation"></div>
            <p class="text-center">
              {% if is_granted('ROLE_ADMIN') %}
                {{ include('evento/_delete_form.html.twig') }}
              {% endif %}
              </p>
              <a class='btn btn-blue'href="{{ path('evento_index') }}">Regresar</a>
          </div>          
        </div>        
      </div>
  </div>
</section>
{% endblock %}
{% block javascripts %}
    {{parent()}}     
{% endblock %}


    

