{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Menú{% endblock %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block content %}
{{parent()}}
<section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="inner-heading">
            <h2>Menús</h2>
          </div>
        </div>
        <div class="span8">
          <ul class="breadcrumb">
            <li><a href="{{ path("index") }}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
            <li class="active">Menús</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
  <section id="content">  
    <div class="span2">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{{ asset("img/logo1.png")}}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset("img/logo1.png")}}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset("img/logo1.png")}}"alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">-</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">></span>
        </a>
      </div>
    </div>

    <div class="container">
      <!-- Portfolio Projects -->
      <div class="row">
        <div class="span12">
          <h4 class="heading">Nuestra <strong>carta</strong></h4>
          <div class="row">
            <section id="projects">
              <ul id="thumbs" class="portfolio">
                <!-- Item Project and Filter Name -->
                {% for menu in paginacion %}
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                            <label for="">{{ menu.idmenu }} -
                                <a href="{{ path('menu_show', {'idmenu': menu.idmenu}) }}">Mostrar</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('menu_edit', {'idmenu': menu.idmenu}) }}">Editar</a>
                                {% endif %}
                            </label>
                            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title={{ menu.nombremenu }} href="{{ asset('img/works/full/pollo.jpg') }}" alt="Tipo de menú: {{ menu.tipomenu }} - Precio: {{ menu.precio }}">
                            <span class="overlay-img"></span>
                            <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <!-- Thumb Image and Description -->
                   
                            <img src= "{{ asset('img/works/full/pollo.jpg') }}" alt="Tipo de menú: {{ menu.tipomenu }} - Precio: {{ menu.precio }}" >
                            <label for="">
                                Ingredientes: {{ menu.ingredientes }} <br>
                                Descripcion: {{ menu.descripcion }}
                            </label>
                        </li>                        
                        {% else %}
                        <li>
                            No existen datos
                        </li>
                  {% endfor %}
                  
                <!-- End Item Project -->
              </ul>
              {% if is_granted('ROLE_ADMIN') %}
              <a class="btn btn-large btn-theme btn-rounded" href="{{ path('menu_new') }}">Nuevo</a>
              {% endif %}
            </section>
          </div>
        </div>
      </div>
      <!-- End Portfolio Projects -->
      <div  class="navigation"> 
        {{knp_pagination_render ( paginacion )}} 
        Menus: {{ paginacion.getTotalItemCount }}       
    </div>
      <!-- divider -->
      <div class="row">
        <div class="span12">
          <div class="solidline">
          </div>
        </div>
      </div>
      <!-- end divider -->
      
    </div>
  </section>
    
{% endblock %}
{% block javascripts %}
    {{parent()}}     
{% endblock %}